<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tistory.leminity.permissionhelper.sample">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SampleActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".example.DefaultActivity"
            android:exported="false" />

        <activity
            android:name=".example.DefaultFragmentActivity"
            android:exported="false" />

        <activity
            android:name=".example.AndroidXActivity"
            android:exported="false" />

        <activity
            android:name=".example.AndroidXFragmentActivity"
            android:exported="false" />

    </application>

</manifest>